<link rel="stylesheet" href="/stylesheets/board_title.css" />
<!--게시판 이름-->
<div class="board_name-wrapper">
    <div class="board_name-form">
      <a class="baord_name-text" href="/post/board?format_name=<%=format_name%>&category_name=<%=category_name%>">
        <%=format_name%><br>
        <%=category_name%>
      </a>
    </div>
  </div>