<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>홈페이지</title>

  <link rel="stylesheet" href="/stylesheets/home.css" />
  <link rel="stylesheet" href="/stylesheets/modal.css" />
  <script src="/javascripts/home.js"></script>
</head>

<body>
  <div class="main-remake">
    <% include ./sidebar.html %>

    <!--콘텐츠-->
    <div class="main-section">
      <div class="center-section">
        <!--로고-->
        <div class="logo-wrapper">
          <a href="/" style="position:relative; top:20px;">
            <img src="/images/logo4.png" style="width:400px; height:150px;">
          </a>
        </div>
        <!--소개글-->
        <div class="intro-wrapper">
          <a class="intro-text" href="javascript:void(0)" onclick="activeIntroModal()">
            항(구)-허브는 당신의 아이디어를 기다립니다.
          </a>
        </div>
    
        <!--설계도 추천-->
        <div class="recommandation-1">
          <div class="background"></div>
          <div class="recommandation-text">이 달의 설계도 TOP3</div>
    
          <a id="thumbnail-1" href=""><img id="img-1" class="thumbnail" src="/images/no_image.png"></a>
          <a id="thumbnail-2" href=""><img id="img-2" class="thumbnail" src="/images/no_image.png"></a>
          <a id="thumbnail-3" href=""><img id="img-3" class="thumbnail" src="/images/no_image.png"></a>
    
          <a id="title-1" class="title-text" href="">빈 제목</a>
          <a id="title-2" class="title-text" href="">빈 제목</a>
          <a id="title-3" class="title-text" href="">빈 제목</a>
        </div>
    
        <!--설계코드 추천-->
        <div class="recommandation-2">
          <div class="background"></div>
          <div class="recommandation-text">이 달의 설계코드 TOP3</div>
    
          <a id="thumbnail-4"><img id="img-4" class="thumbnail" src="/images/no_image.png"></a>
          <a id="thumbnail-5"><img id="img-5" class="thumbnail" src="/images/no_image.png"></a>
          <a id="thumbnail-6"><img id="img-6" class="thumbnail" src="/images/no_image.png"></a>
    
          <a id="title-4" class="title-text" href="">빈 제목</a>
          <a id="title-5" class="title-text" href="">빈 제목</a>
          <a id="title-6" class="title-text" href="">빈 제목</a>
        </div>
      </div>
    
      <!--오른쪽 -->
      <div class="right-section">
        <!--광고 -->
        <div class="login-space"></div>
        <div class="ad"><img src="/images/ad2.png" width="323px" height="402px"></div>
        <div class="ad"><img src="/images/ad3.jpg" width="323px" height="402px"></div>
      </div>
    
      <%include ./personalNav.ejs%>
    </div>
  </div>

  <div id="intro-Modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" onclick="inactiveIntroModal()">&times;</span>
        <h1>항(구)-HUB</h1>
      </div>
      <div class="modal-body">
        <img src="images/logo1.png" style="width:50%; height:50%;">
        <p>
          <span style="color:red">항(구)-허브</span>에서는 <br>
          전 세계의 컴퓨터공학 설계의 마스터들이 모여 <br>
          당신의 아이디어를 기다리고 있습니다. <br>
          <br>
          여기에서는 간편하게 아이디어를 등록하고, <br>
          찾고자 하는 이들과 아이디어를 공유할 수 있습니다.<br>
          <br>
          컴퓨터공학의 뛰어난 두뇌들이 모이는 이 곳에서, <br>
          당신의 설계를 세계와 나눠보세요. <br>
          <br>
          간단한 등록과 손쉬운 구매가 가능합니다. <br>
          이제 항(구)-허브에서 당신의 창의성을 펼쳐보세요.  <br>
        </p>
      </div>
      <div class="modal-footer" style="height:50px;">
      </div>
    </div>
  </div>

  <script>
    // Modal Handler
    function activeIntroModal(){ document.getElementById("intro-Modal").style.display="block";}
    function inactiveIntroModal(){ document.getElementById("intro-Modal").style.display="none";}
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      let modal = document.getElementById("intro-Modal");
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
</body>

</html>