<link rel="stylesheet" href="/stylesheets/sidebar.css" />
<!--게시판 네비게이션-->
<div class="sidebar-section">
  <div class="sidebar-wrapper">
    <!--설계코드-->
    <div class="sidebar-1">
      <div class="sidemenu-title">설계코드</div>
      <a class="sidemenu-option" href="/post/board?format_name=설계코드&category_name=딥러닝">딥러닝</a>
      <img class="line" src="/images/line-8.svg" />
      <a class="sidemenu-option" href="/post/board?format_name=설계코드&category_name=프로그래밍 언어">프로그래밍 언어</a>
      <img class="line" src="/images/line-8.svg" />
      <a class="sidemenu-option" href="/post/board?format_name=설계코드&category_name=임베디드 소프트웨어">임베디드 소프트웨어</a>
      <img class="line" src="/images/line-8.svg" />
      <a class="sidemenu-option" href="/post/board?format_name=설계코드&category_name=머신러닝">머신러닝</a>
      <img class="line" src="/images/line-8.svg" />
      <a class="sidemenu-option" href="/post/board?format_name=설계코드&category_name=데이터베이스">데이터베이스</a>
      <img class="line" src="/images/line-8.svg" />
      <a class="sidemenu-option" href="/post/board?format_name=설계코드&category_name=알고리즘">알고리즘</a>
      <img class="line" src="/images/line-8.svg" />
      <a class="sidemenu-option" href="/post/board?format_name=설계코드&category_name=소프트웨어 공학 및 설계">소프트웨어 공학 및 설계</a>
    </div>

    <!--설계도-->
    <div class="sidebar-2">
      <div class="sidemenu-title">설계도</div>
      <a class="sidemenu-option" href="/post/board?format_name=설계도&category_name=딥러닝">딥러닝</a>
      <img class="line" src="/images/line-8.svg" />
      <a class="sidemenu-option" href="/post/board?format_name=설계도&category_name=프로그래밍 언어">프로그래밍 언어</a>
      <img class="line" src="/images/line-8.svg" />
      <a class="sidemenu-option" href="/post/board?format_name=설계도&category_name=임베디드 소프트웨어">임베디드 소프트웨어</a>
      <img class="line" src="/images/line-8.svg" />
      <a class="sidemenu-option" href="/post/board?format_name=설계도&category_name=머신러닝">머신러닝</a>
      <img class="line" src="/images/line-8.svg" />
      <a class="sidemenu-option" href="/post/board?format_name=설계도&category_name=데이터베이스">데이터베이스</a>
      <img class="line" src="/images/line-8.svg" />
      <a class="sidemenu-option" href="/post/board?format_name=설계도&category_name=알고리즘">알고리즘</a>
      <img class="line" src="/images/line-8.svg" />
      <a class="sidemenu-option" href="/post/board?format_name=설계도&category_name=소프트웨어 공학 및 설계">소프트웨어 공학 및 설계</a>
    </div>
  </div>
</div> <!--게시판 네비게이션-->