<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>

  <link rel="stylesheet" href="/stylesheets/signup.css" />
  <script src="/javascripts/signup.js"></script>
</head>

<body>
  <div class="register">
    <!--헤더-->
    <div class="logo-wrapper">
      <a href="/" style="position:relative;">
        <img src="/images/logo4.png" style="width:400px; height:150px;">
      </a>
    </div>

    <!--콘텐츠-->
    <div class="signup-wrapper">
      <div class="signup-form">
        <!--이름-->
        <label class="name_label_wrapper" for="name">
          <div class="text-wrapper">이름</div>
        </label>
        <div class="name_input"><input id="name" type="text"></div>
        <!--이름-->
        <label class="id_label_wrapper" for="login_id">
          <div class="text-wrapper">아이디</div>
        </label>
        <div class="id_input"><input id="login_id" type="text"></div>
        <!--이름-->
        <label class="pw_label_wrapper" for="password">
          <div class="text-wrapper">비밀번호</div>
        </label>
        <div class="pw_input"><input id="password" type="text"></div>

        <!--콘텍스트 메뉴-->
        <button class="signup_wrapper" onclick="requestSignin()">
          <div class="text-wrapper">회원가입</div>
        </button>
      </div>
    </div>
  </div>

</body>

</html>