@import url("./globals.css");

.dashboard {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  min-width: 1457px;
  min-height: 1003.68px;
  justify-content: center;
}

.dashboard .div {
  position: relative;
  width: 271px;
  height: 19.64px;
  font-family: "Inter-Thin", Helvetica;
  font-weight: 100;
  font-size: 26px;
  line-height: normal;
  white-space: nowrap;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
}

.dashboard .main-section {
  position: relative;
  width: 1108.5px;
  height: 983.68px;
  background-color: #fff7f7;
  border: 1px solid;
  border-color: #00000080;
}

.dashboard .logo-wrapper {
  display: inline-flex;
  flex-direction: column;
  height: 101px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* padding: 24px 92px; */
  position: absolute;
  top: 26px;
  left: 24px;
  /* background-color: #d9d9d9; */
}

.dashboard .logo-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 44px;
  line-height: normal;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
}

.dashboard .btnWrite {
  position: absolute;
  width: 210px;
  height: 60px;
  top: 216px;
  left: 822px;
  background-color: #ff9999;
  border-radius: 15px;
}

.dashboard .write-text {
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 35px;
  line-height: normal;
  white-space: nowrap;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
}

.dashboard .element-1 {
  position: absolute;
  width: 314px;
  height: 500px;
  top: 305px;
  left: 76px;
}

.dashboard .views_likes-wrapper {
  position: absolute;
  width: 178px;
  height: 50px;
  top: 450px;
  left: 0;
}

.dashboard .views-form {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #ffb1b1;
  border: 1px solid;
  border-color: #000000;
}

.dashboard .likes-form {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 0;
  left: 88px;
  background-color: #ffb1b1;
  border: 1px solid;
  border-color: #000000;
}

.dashboard .text-wrapper {
  position: absolute;
  top: 11px;
  width: inherit;
  height: inherit;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 23px;
  line-height: normal;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard .downloads-wrapper {
  position: absolute;
  width: 122px;
  height: 50px;
  top: 450px;
  left: 178px;
  background-color: #ffb1b1;
  border: 1px solid;
  border-color: #000000;
}

.dashboard .created-wapper {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 400px;
  left: 0;
  background-color: #ffb1b1;
  border: 1px solid;
  border-color: #000000;
}

.dashboard .price-wrapper {
  position: absolute;
  width: 150px;
  height: 50px;
  top: 350px;
  left: 150px;
  background-color: #ffb1b1;
  border: 1px solid;
  border-color: #000000;
}
.dashboard .writer-wrapper {
  position: absolute;
  width: 150px;
  height: 50px;
  top: 350px;
  left: 0;
  background-color: #ffb1b1;
  border: 1px solid;
  border-color: #000000;
}

.dashboard .title-wrapper {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 300px;
  left: 0;
  background-color: #ffb1b1;
  border: 1px solid;
  border-color: #000000;
}

.dashboard .thumbnail {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
}

.dashboard .element-2 {
  position: absolute;
  width: 314px;
  height: 500px;
  top: 305px;
  left: 404px;
}

.dashboard .element-3 {
  position: absolute;
  width: 314px;
  height: 500px;
  top: 305px;
  left: 732px;
}

.dashboard .btnPrev-wrapper {
  position: absolute;
  width: 252px;
  height: 70px;
  top: 861px;
  left: 252px;
}

.dashboard .btnPage-form {
  position: relative;
  width: 250px;
  height: 70px;
  background-color: #ff6666;
  border-radius: 15px;
}

.dashboard .page-text {
  position: absolute;
  width: 219px;
  top: 14px;
  left: 15px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 35px;
  line-height: normal;
  white-space: nowrap;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
}

.dashboard .btnNext-wrapper {
  position: absolute;
  width: 252px;
  height: 70px;
  top: 861px;
  left: 608px;
}