@import url("./globals.css");

.typeb-login-register {
  display: flex;
  flex-direction: column;
  height: 1024px;
  align-items: center;
  gap: 10px;
  padding: 76px 10px;
  position: relative;
  background-color: #fff7f7;
}

.typeb-login-register .logo-wrapper {
  display: inline-flex;
  flex-direction: column;
  height: 101px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* padding: 24px 92px; */
  position: relative;
  /* background-color: #d9d9d9; */
}

.typeb-login-register .logo-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.typeb-login-register .signin-wrapper {
  position: relative;
  width: 810px;
  height: 665px;
}

.typeb-login-register .signin-form {
  position: relative;
  width: 734px;
  height: 645px;
  top: 10px;
  left: 38px;
  background-color: #ffe9e9;
  border-radius: 32px;
}

.typeb-login-register .id_label_wrapper {
  position: absolute;
  width: 212px;
  height: 56px;
  top: 121px;
  left: 60px;
  background-color: #f7c5c5;
  border-radius: 8px;
}

.typeb-login-register .text-wrapper {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 3px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.typeb-login-register .pw_label_wrapper {
  position: absolute;
  width: 212px;
  height: 56px;
  top: 266px;
  left: 60px;
  background-color: #f7c5c5;
  border-radius: 8px;
}

.typeb-login-register .signup_wrapper {
  position: absolute;
  width: 212px;
  height: 56px;
  top: 509px;
  left: 120px;
  background-color: #ffabab;
  border-radius: 8px;
}

.typeb-login-register .signin_wrapper {
  position: absolute;
  width: 212px;
  height: 56px;
  top: 509px;
  left: 402px;
  background-color: #ff6666;
  border-radius: 8px;
}

.typeb-login-register .id_input {
  top: 121px;
  position: absolute;
  width: 327px;
  height: 56px;
  left: 346px;
  background-color: #ffffff;
}

.typeb-login-register .pw_input {
  top: 266px;
  position: absolute;
  width: 327px;
  height: 56px;
  left: 346px;
  background-color: #ffffff;
}

input[type=text], input[type=password] {
  height: 50px;
  width: 320px;
  border: 0px;
  font-size: 45px;
}